{% extends 'base.html' %}
{% block title %} Registration {% endblock %}

{% block content %}


<div class="container p-5 col-md-4">
  {% if 'ok' in request.GET %}

  <div class="alert alert-success" role="alert">
    Te has registrado con exito. Puedes iniciar sesion.
  </div>

  {% endif %}

  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.
  </div>
  {% endif %}


    <form action="" method='post' class="card card-body colorFormu p-4 form-container">
        <h2 class="pb-2 text-center" style="color:rgb(206, 226, 231)">Login</h2>
        {% csrf_token %}
        <div class='py-4'>
          <div class="mb-3">
            <label for="" class="">Usuario</label>
            <input type="text" name='username' class="form-control" id="">
      
          </div>
          <div class="mb-3">
            <label for="" class="">Contraseña</label>
            <input type="text" name='password' class="form-control" id="">
          </div>
        </div>
        <button type="submit" class="btn btn-primary custom-button p">Ingresar</button>
    
        <div class='text-center py-4'>
        <p>¿No tienes una cuenta?  <a href="{% url 'password_reset' %}">Sign Up</a></p>
        <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>
        </div>
    </form>
</div>
        
        
          
{% endblock %}
       

